body {
	background-image: url("../assets/bgimg.png");
}
.buttonzone, .gifzone{
	font-family: 'Montserrat Subrayada', sans-serif;
}
img {
	height: auto;
	border-radius: 25px;
}
.imgframe {
	margin: 35px;
}
.rating{
	text-align: center;
}
.imgframe{
	background-color: salmon;
    width: 215px;
    border-radius: 25px;
}